@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import 'swiper/css/pagination';


:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --color-primary-50: rgb(var(--tw-color-primary-50));
  /* #f0f9ff */
  --color-primary-100: rgb(var(--tw-color-primary-100));
  /* #e0f2fe */
  --color-primary-200: rgb(var(--tw-color-primary-200));
  /* #bae6fd */
  --color-primary-300: rgb(var(--tw-color-primary-300));
  /* #7dd3fc */
  --color-primary-400: rgb(var(--tw-color-primary-400));
  /* #38bdf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500));
  /* #0ea5e9 */
  --color-primary-600: rgb(var(--tw-color-primary-600));
  /* #0284c7 */
  --color-primary-700: rgb(var(--tw-color-primary-700));
  /* #0369a1 */
  --color-primary-800: rgb(var(--tw-color-primary-800));
  /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-900));
  /* #0c4a6e */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  @font-face {
    font-family: 'Katide Thin';
    /* src: url('/fonts/Katide-Thin.woff2') format('woff2'); */
    src: url('/fonts/NunitoSans.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'Katide Light';
    /* src: url('/fonts/Katide-Light.woff2') format('woff2'); */
    src: url('/fonts/NunitoSans.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Katide Regular';
    /* src: url('/fonts/Katide-Regular.woff2') format('woff2'); */
    src: url('/fonts/NunitoSans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Katide Medium';
    /* src: url('/fonts/Katide-Medium.woff2') format('woff2'); */
    src: url('/fonts/NunitoSans.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Katide SemiBold';
    /* src: url('/fonts/Katide-SemiBold.woff2') format('woff2'); */
    src: url('/fonts/NunitoSans.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Katide Bold';
    /* src: url('/fonts/Katide-Bold.woff2') format('woff2'); */
    src: url('/fonts/NunitoSans.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Katide ExtraBold';
    /* src: url('/fonts/Katide-ExtraBold.woff2') format('woff2'); */
    src: url('/fonts/NunitoSans.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Katide Heavy';
    /* src: url('/fonts/Katide-Heavy.woff2') format('woff2'); */
    src: url('/fonts/NunitoSans.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

  /* inter font */
  @font-face {
    font-family: 'Inter Thin';
    /* src: url('/fonts/Inter-Thin.ttf') format('ttf'); */
    src: url('/fonts/NunitoSans.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter Light';
    /* src: url('/fonts/Inter-Light.ttf') format('ttf'); */
    src: url('/fonts/NunitoSans.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter Regular';
    /* src: url('/fonts/Inter-Regular.ttf') format('ttf'); */
    src: url('/fonts/NunitoSans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter Medium';
    /* src: url('/fonts/Inter-Medium.ttf') format('ttf'); */
    src: url('/fonts/NunitoSans.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter SemiBold';
    /* src: url('/fonts/Inter-SemiBold.ttf') format('ttf'); */
    src: url('/fonts/NunitoSans.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter Bold';
    /* src: url('/fonts/Inter-Bold.ttf') format('ttf'); */
    src: url('/fonts/NunitoSans.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter ExtraLight';
    /* src: url('/fonts/Inter-ExtraLight.ttf') format('ttf'); */
    src: url('/fonts/NunitoSans.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Hastle';
    /* src: url('/fonts/Hastle.woff2') format('otf'); */
    src: url('/fonts/NunitoSans.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }

  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }

  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }

  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }

  /* .bg-div1::before {
    content: '';
    float: right;
    width: 80px;
    height: 80px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    clear: both;
  } */
  .bg-div1 {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 80% 45%, 80% 100%, 0 100%);
    position: relative;
  }

  .bg-div1::after {
    content: '';
    display: block;
    width: calc(20% + 3px);
    height: calc(55% + 8px);
    border: 8px solid #61a9fa;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease;
  }

  .bg-div1:hover::after {
    border-color: #fff;
  }

  body {
    overflow-x: hidden;
  }
}

.border-gradient {
  background-color: rgba(104, 104, 104, 0.2);
  box-shadow: 2px 2px 25px 0 rgba(0,0,0,0.1);
  /* filter: blur(15px);
  -webkit-filter: blur(15px); */
  border-radius: 100px; /*1*/
  border: 1px solid transparent; /*2*/
  background: linear-gradient(45deg,rgba(203, 203, 203, 0.5) 0%, white 100%) border-box; /*3*/
  -webkit-mask: /*4*/
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
          mask-composite: exclude; /*5*/
}

.border-gradient-double {
  background-color: rgba(104, 104, 104, 0.2);
  box-shadow: 2px 2px 25px 0 rgba(0,0,0,0.1);
  /* filter: blur(15px);
  -webkit-filter: blur(15px); */
  border-radius: 100px; /*1*/
  border: 2px solid transparent; /*2*/
  background: linear-gradient(45deg,rgba(203, 203, 203, 0.9) 0%, white 100%) border-box; /*3*/
  -webkit-mask:
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
          mask-composite: exclude; /*5*/
}

.button-coin {
  position: relative;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  border: none;
  background: none;
}

.button-coin svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.border-coin {
  width: 100%;
  height: 100%;
  stroke: black;
  stroke-width: 2px;
  fill: #0000;
  rx: 1em;
  ry: 1em;
  stroke-dasharray: 25;
  transition: fill 0.25s;
  animation: 4s linear infinite stroke-animation;
}

.button-coin:hover .border-coin {
  fill: #0001;
}

.button-coin:focus .border-coin {
  transition: fill 0.25s 3.75s;
  fill: #0000;
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.txt-upload {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt-upload::after {
  content: "";
}

.button-coin:focus .rect {
  stroke-dasharray: 50;
}
.button-coin:focus .border-coin {
  stroke: #0000;
}

.button-coin:focus .txt-upload {
  opacity: 0;
  transition: opacity 0.25s 3s;
}

.button-coin:focus .txt-upload::after {
  animation: 0.66666s anim step-end forwards,
    1.33333s 0.6666s anim2 linear infinite alternate;
}

@keyframes anim {
  0% {
    content: "";
  }
  50% {
    content: ".";
  }
  to {
    content: ".";
  }
}

@keyframes anim2 {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  to {
    content: "...";
  }
}

.loading-coin {
  width: 100%;
  height: 100%;
  stroke: #0055d4;
  stroke-width: 2px;
  fill: none;
  rx: 1em;
  ry: 1em;
  stroke-dasharray: 0 100;
}

.button-coin:focus .loading-coin {
  transition: stroke 0.5s 7.5s, stroke-dasharray 3s 0.5s ease-out;
  stroke: #08ca08;
  stroke-dasharray: 100 0;
}

.done {
  fill: none;
  stroke: #000;
  stroke-dasharray: 0 100;
}

.button-coin:focus .done-cloud {
  transition: stroke-dasharray 0.75s 8.5s ease-out;
  stroke-dasharray: 100 0;
}

.button-coin:focus .done-check {
  transition: stroke-dasharray 0.5s 9.2s ease-out;
  stroke: #08ca08;
  stroke-dasharray: 100 0;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.project-banner {
  background-image: url('/images/grid-crafter.webp');
  background-size: cover;
  background-position: center;
  fetchpriority: high;
}

.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.remove-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}




/* Membership Product Slide  */
@keyframes marqueeScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.3333%);
  }
}

.marquee-wrapper {
  display: flex;
  width: max-content;
  animation: marqueeScroll 30s linear infinite;
}

.breezy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 2.5rem;
  overflow: hidden;
  background-size: 300% 300%;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: breezy-gradient 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(
      137.48deg,
      #008ECC 67%,
      #008ECC 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: relative;
  text-decoration: none;
}

.breezy-container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

.breezy-strong {
  z-index: 2;
  /* font-family: "Avalors Personal Use", sans-serif; */
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

.breezy-glow {
  position: absolute;
  display: flex;
  width: 12rem;
  justify-content: space-between;
}

.breezy-circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: breezy-pulse 4s infinite;
  z-index: -1;
}

.breezy-circle:nth-of-type(1) {
  background: #008ECC ;
}

.breezy-circle:nth-of-type(2) {
  background: #008ECC;
}

.breezy-btn:hover .breezy-container-stars {
  z-index: 1;
  background-color: #212121;
}

.breezy-btn:hover {
  transform: scale(1.1);
}

.breezy-btn:active {
  border: double 4px #008ECC;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.breezy-btn:active .breezy-circle {
  background: #008ECC ;
}

.breezy-stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

.breezy-stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: breezy-rotate 90s linear infinite;
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

.breezy-stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: breezy-scroll 60s linear infinite;
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

/* Animations */
@keyframes breezy-scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-135rem);
  }
}

@keyframes breezy-rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes breezy-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes breezy-pulse {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.custom-slider .slick-dots li {
  @apply w-10 h-1 bg-slate-300 rounded-md transition-all mx-1 mt-10 -bottom-5;
}

.custom-slider .slick-dots li.slick-active {
  @apply bg-[#4065D1] w-10;
}

.custom-slider .slick-dots li button:before {
  content: "";
}




